.interfase{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
  
.boton{
  width: 40vw;
  height: 5vh;
  left: 30vw;
  top: 45vh;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
  background-color: rgb(236, 38, 153);
  border-radius: 0.5em;
  box-shadow: 5px 5px rgb(98, 98, 241);
  max-width: 300px;
}
.boton:hover{
  background-color: blue;
}

.boton:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

#boton__iniciarJuego{
  visibility: visible;
}

#boton__reiniciarJuego{
  visibility: hidden;
}